.gpt3-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gpt3-brand div{
    flex: 1;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: 150px;
    min-width: 120px;
}
